/**
 * @file
 * Static CSS source file (compiled to style.min.css).
 *
 * @example
 * 	To minify :
 * 	$ npm install clean-css-cli -g
 * 	$ cleancss -o public/style.min.css src/style.css
 */

/*
	Globals - Type & Space scales, Colors, etc.

	@link https://utopia.fyi/type/calculator?c=320,16,1.333,1240,19,1.414,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
	@link https://utopia.fyi/space/calculator?c=320,16,1.333,1240,19,1.414,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
*/

:root {
	--size--2: clamp(0.5628rem, 0.5519rem + 0.0542vw, 0.5939rem);
	--size--1: clamp(0.7502rem, 0.719rem + 0.1559vw, 0.8398rem);
	--size-0: clamp(1rem, 0.9348rem + 0.3261vw, 1.1875rem);
	--size-1: clamp(1.333rem, 1.2126rem + 0.602vw, 1.6791rem);
	--size-2: clamp(1.7769rem, 1.5691rem + 1.0389vw, 2.3743rem);
	--size-3: clamp(2.3686rem, 2.0247rem + 1.7194vw, 3.3572rem);
	--size-4: clamp(3.1573rem, 2.6044rem + 2.7649vw, 4.7471rem);
	--size-5: clamp(4.2087rem, 3.3379rem + 4.3543vw, 6.7124rem);

	--space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vw, 0.3125rem);
	--space-2xs: clamp(0.5rem, 0.4565rem + 0.2174vw, 0.625rem);
	--space-xs: clamp(0.75rem, 0.7065rem + 0.2174vw, 0.875rem);
	--space-s: clamp(1rem, 0.9348rem + 0.3261vw, 1.1875rem);
	--space-m: clamp(1.5rem, 1.3913rem + 0.5435vw, 1.8125rem);
	--space-l: clamp(2rem, 1.8696rem + 0.6522vw, 2.375rem);
	--space-xl: clamp(3rem, 2.8043rem + 0.9783vw, 3.5625rem);
	--space-2xl: clamp(4rem, 3.7391rem + 1.3043vw, 4.75rem);
	--space-3xl: clamp(6rem, 5.6087rem + 1.9565vw, 7.125rem);

	--line-length: 70ch;
	--line-length-s: 50ch;
	--max-length: calc(var(--line-length) * 2 + var(--space-m));

	--top-fixed-height: 3ch;

	/* --sans-serif: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; */
	--sans-serif: BlinkMacSystemFont,-apple-system,sans-serif;

	--blue: #2554C7;

	--base-bg-color: white;
	--base-text-color: #333;

	--inverted-bg-color: #666;
	--inverted-text-color: #EEE;
}


/*
	Global styles.
*/

* {
	box-sizing: border-box;
}

html {
	position: relative;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-family: var(--sans-serif);
	font-size: var(--size-0);
	font-weight: 400;
	line-height: var(--size-1);
	color: #333;
}

body {
	margin: 0;
	padding: var(--top-fixed-height) 0 0 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
	/* background: limegreen; */
	text-shadow: none;
}

::selection {
	/* background: limegreen; */
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their u-containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
	Author's custom styles
	========================================================================== */

/* ==========================================================================
	Helper classes
	========================================================================== */

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px; /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	white-space: inherit;
	width: auto;
}

/* ==========================================================================
	Print styles.
	Inlined to avoid the additional HTTP request:
	https://www.phpied.com/delay-loading-your-print-css/
	========================================================================== */

@media print {
	*,
	*::before,
	*::after {
		background: #fff !important;
		color: #000 !important;
		/* Black prints faster */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: " (" attr(href) ")";
	}

	abbr[title]::after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */
	a[href^="#"]::after,
	a[href^="javascript:"]::after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}


/*
	Base : vertical rhythm.
*/

h1,
h2,
h3,
h4,
hr,
p,
pre,
blockquote,
.s-rich-text ul,
.s-rich-text ol {
	margin: 0 0 var(--size-0) 0;
}
p:last-child,
pre:last-child,
blockquote:last-child,
.s-rich-text.s-rich-text > *:last-child {
	margin-bottom: 0;
}


/*
	Base : Images.
*/

img {
	max-width: 100%;
	height: auto;
}


/*
	Base : links.
*/

a {
	text-decoration: none;
}
.s-rich-text a,
a.text-link {
	border-bottom: 1px solid currentColor;
	color: inherit;
	transition: color .3s;
}
.s-rich-text a:hover,
.s-rich-text a:focus,
a.text-link:hover,
a.text-link:focus {
	color: var(--blue);
}


/*
	Base : Headings, Titles.
*/

h1,
h2,
h3,
h4 {
	line-height: 1.1;
}

h1 {
	font-size: var(--size-2);
}

h2 {
	font-size: var(--size-1);
}

h3 {
	font-size: var(--size-0);
}


/*
	Scope : inverted BG.
*/

.s-invert {
	background-color: var(--inverted-bg-color);
}
.s-invert,
.s-invert * {
	color: var(--inverted-text-color);
}


/*
	Utility : u-container.

	Le inner-wrapper centré, restreint en largeur, avec un padding générique.
	On utilise un inner-wrapper afin que le padding soit fluide (car avec le
	box-sizing: border-box on peut pas le faire en % sur le même element).
*/

.u-container {
	padding-left: var(--space-m);
	padding-right: var(--space-m);
}
.u-container-inner {
	margin: 0 auto;
	/* max-width: var(--line-length); */
	max-width: var(--max-length);
}
.u-container-inner > .s-rich-text:first-child {
	padding-top: var(--space-m);
}


/*
	Utility : u-vspacer.

	L'espace à la fin et entre les sections adjacentes doit être uniforme.
*/

.u-vspacer {
	padding-bottom: var(--space-m);
}
.u-vspacer + .u-vspacer {
	padding-top: var(--space-m);
}
.u-vspacer + .u-vspacer .u-container-inner > :first-child {
	margin-top: 0;
}
.u-vspacer + .u-vspacer .u-container-inner > .s-rich-text:first-child {
	padding-top: 0;
}


/*
	Layout components.
*/

.Hug {
	display: flex;
	gap: var(--space-m);
	justify-content: left;
}
.Hug.align-center {
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
	max-width: var(--max-length);
}
.Hug.valign-center {
	align-items: center;
}
ul.Hug {
	margin: 0;
	padding: 0;
}
.Hug > li {
	list-style: none;
}

.Grid {
	display: flex;
	flex-direction: column;
	gap: var(--space-m);
}
.Grid {
	display: flex;
	flex-direction: column;
	gap: var(--space-m);
}
@media (min-width: 55rem) {
	.Grid {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	.Grid-item {
		/* flex: 1 1 0;
		width: 0; */
		flex: 1 0 var(--line-length-s);
		max-width: var(--line-length);
	}
}


/*
	Header components.
*/

.Top-logo {
	position: fixed;
	top: 0;
	width: 100%;
}
.Top-logo-content {
	font-size: var(--size--1);
	height: var(--top-fixed-height);
}
.Top-logo-content a {
	line-height: 0;
}
.Top-logo-content img {
	width: 2ch;
}

.Hero-logo {
	width: min(12ch, 33vw);
}
.Hero-illustration {
  margin: var(--space-m) 0;
  background-size: cover;
  background-image: url('./img/illustration-fresque-renoncement.jpg');
  background-position: 50%;
	height: min(33ch, 50vh);
}

.Page-nav {
	display: flex;
	gap: var(--space-m);
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}
/* .Page-nav > * {
	flex: 1 1 0;
	width: 0;
} */
.Page-nav > li {
	list-style: none;
}


/*
	Content components.
*/

.Illustration {
	max-width: var(--line-length);
}

.Illustration-xs {
	width: min(50vw, calc(var(--line-length) / 3));
}

.Footer {
	padding-top: var(--space-m);
}
